@page
@model AttendanceSystem.Pages.Admin_view.Dashboard.DashboardModel
@{
    ViewData["title"] = "Admin Dashboard";

}



<h1>@ViewData["Title"]</h1>

<h1>@ViewData["Title"]</h1>
<h1>@ViewData["Title"]</h1>
<h1>@ViewData["Title"]</h1>
<h1>@ViewData["Title"]</h1>

