@page
@model AttendanceSystem.Pages.Admin_view.Dashboard.DashboardModel
@{
    ViewData["title"] = "Admin Dashboard";
    Layout = "./Shared/_AdminLayout";
}

<div class="card shadow-sm">
    <div class="card-body">
        <h1 class="text-primary">Students</h1>
        <h5 class="text-muted">Date Today: <span id="clock" class="fw-bold"></span></h5>
    </div>
</div>

<h1>@ViewData["Title"]</h1>

<h1>@ViewData["Title"]</h1>
<h1>@ViewData["Title"]</h1>
<h1>@ViewData["Title"]</h1>
<h1>@ViewData["Title"]</h1>

