@page
@model AttendanceSystem.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            Total Attendances 
        </dt>
        <dd class="col-sm-10">
                    @Model.Student.Attendances.Count()
        </dd>
        <dt class="col-sm-2">
            Present
        </dt>
        <dd class="col-sm-10">
            @Model.Student.Attendances.Count(a => a.Status == "Present")
        </dd>
        <dt class="col-sm-2">
            Absent
        </dt>
        <dd class="col-sm-10">
            @Model.Student.Attendances.Count(a => a.Status == "Absent")
        </dd>


    </dl>

    <h4>Attendance Records</h4>

    @if (Model.Student.Attendances != null && Model.Student.Attendances.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.Student.Attendances.OrderByDescending(a => a.Date))
                {
                    <tr>
                        <td>@record.Date.ToString("MMMM dd, yyyy")</td>
                        <td>
                            @if (record.Status == "Present")
                            {
                                <span class="badge bg-success">Present</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Absent</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No attendance records found.</p>
    }

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.StudentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
