@page
@model AttendanceSystem.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Students</h1>
<h2>Date Today: <span id="clock"></span></h2>


<p>
    <a asp-page="./Create">Enroll New Student</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].LastName)
            </th>
            <th>Attendance Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @item.Attendances.Count(a => a.Status == "Present") / @item.Attendances.Count()
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.StudentId">Delete</a> |
                    @if (item.Attendances.Any(a => a.Date.Date == DateTime.Today))
                    {
                        @if (item.Attendances.Any(a => a.Status == "Present"))
                        {
                            <span class="badge bg-success">
                                Attendance Marked Present
                               
                            </span>
                        } else
                        {
                            <span class = "badge bg-danger">
                                Attendance marked Absent
                            </span>
                        }

                    }
                    else
                    {
                        <a asp-page="/Attendances/Mark" asp-route-id="@item.StudentId" class="btn btn-primary">
                            Mark Attendance
                        </a>
                    }
                  
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script>
        function updateClock() {
            const now = new Date();
            const options = {
                weekday: 'long', year: 'numeric',
                month: 'long', day: 'numeric',
                hour: '2-digit', minute: '2-digit', second: '2-digit'
            };
            document.getElementById("clock").innerText = now.toLocaleString("en-US", options);
        }
        // update every second
        setInterval(updateClock, 1000); 

        //Will run once the page load
        updateClock(); 
    </script>
}
