@page
@model AttendanceSystem.Pages.TransactionLogs.IndexModel

@{
    ViewData["Title"] = "Transaction Logs";
}

<div class="container mt-4">
    <div class="card shadow-sm border-0">

        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h3 class="mb-0 text-primary"><i class="bi bi-clock-history"></i>Transaction Logs</h3>
                
            </div>
        </div>

       
        <div class="card-body">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-secondary">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.TransactionLog[0].Action)</th>
                        <th>@Html.DisplayNameFor(model => model.TransactionLog[0].Timestamp)</th>
                        <th >@Html.DisplayNameFor(model => model.TransactionLog[0].Student.StudentId)</th>
                        <th>@Html.DisplayNameFor(model => model.TransactionLog[0].Student.LastName)</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TransactionLog)
                    {
                        <tr>
                            <td>
                                <span class="badge bg-gradient text-dark">@item.Action</span>
                            </td>
                            <td>
                                <i class="bi bi-calendar-event text-primary"></i>
                                @item.Timestamp.AddHours(8).ToString("MMMM dd, yyyy - hh:mm tt")
                            </td>
                            <td>
                                <span class="fw-bold text-secondary">@item.StudentId</span>
                            </td>
                            <td>
                                <i class="bi bi-person-fill text-success"></i>
                                <a asp-page="../Students/Details" asp-route-id="@item.StudentId" class="text-dark">@item.Student.LastName</a>
                                
                            </td>
                            <td class="text-center">
                                <a asp-page="./Details" asp-route-id="@item.TransactionId" class="btn btn-sm btn-secondary me-1">
                                    <i class="bi bi-eye"></i> Details
                                </a>
                                <!--
                                    <a asp-page="./Delete" asp-route-id="@item.TransactionId" class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                                -->
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
