@page
@model AttendanceSystem.Pages.TransactionLogs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TransactionLog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionLog.TransactionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model =>model.TransactionLog.TransactionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionLog.Action)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionLog.Action)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionLog.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionLog.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionLog.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionLog.StudentId)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-page="./Index">Back to List</a>
</div>
