@page
@model AttendanceSystem.Pages.GenerateQR.GenerateQRModel
@{
	ViewData["Title"] = "Generate QR Code";

}


<div class="text-center justify-center">

<h2>Scan The QR Code Below</h2>

	<div class="d-flex justify-content-center">
		<form method="post" class="d-flex flex-column w-25 gap-3">

			 <input type="text" name="InputText" value="@Model.InputText" placeholder="Enter Student Number..." />

			<input type="email" asp-for="InputEmail "name="InputEmail" value="@Model.InputEmail" placeholder="Enter Email" required/>


			<input type="text" name="LastName" value="@Model.LastName" placeholder="Enter Your Last Name..." />

			<!-- Files Can be Uploaded-->
			<input type="file" name="UploadedFile" asp-for="InputFile" />
			<button type="submit" class="btn btn-success">Request QR Code</button>

			
			

		</form>
	</div>

	
	<hr />



@if (!string.IsNullOrEmpty(Model.QRCodeBase64))
{
	
	<div class="ww-50 vh-50 border border-black rounded-3 w-25 mx-auto justify-content-sm-center p-3">
			<img src="data:img/png;base64,@Model.QRCodeBase64" alt="QR Code" style="width: 250px; height: 250px;" />
		</div>

		if(!string.IsNullOrEmpty(Model.Linked))
		{
			<div class="text-center">
				<a href="@Model.Linked">
					@Model.Linked
				</a>
				
			</div>
		}

}



</div>